/*----------------------------------------------
                 Root defined section
 -----------------------------------------------*/

:root {
    --orange: #FF900E;
    --black: #131313;
    --gray: #727272;
    --white: #FFFFFF;
    --primary-font: 'Work Sans', sans-serif;

}

body {
    background-color: var(--white);
    font-family: var(--primary-font)
}

/*----------------------------------------------
                 Universal section
 -----------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------------------------------------
                 Navigation section
 -----------------------------------------------*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1450px;
    height: 75px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 0 25px;

}

nav>h1 {

    font-weight: 700;
    font-size: 45px;
    color: var(--black);
}


nav>ul {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    list-style: none;
    gap: 74px;
}


/* -----------------------------------------------
                 Header section
 ----------------------------------------------- */

.header__Brand {
    width: 100%;
    max-width: 862px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.title__brand {

    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: var(--black);
    margin-bottom: 30px;

}

.title__description {

    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
    text-align: center;
    margin-bottom: 32px;
}


#explore__button {

    width: 180px;
    height: 64px;
    background: var(--orange);
    border-radius: 8px;
    border-style: none;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: var(--white);

}

/* -- ----------------------------------------------
                 Banner section
 ----------------------------------------------- -- */

.banner-img {

    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-left: 240px;
    margin-right: 240px;
}


/*-----------------------------------------------
                 Grid section
  -----------------------------------------------*/

.features-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    margin-bottom: 300px;
    width: 100%;

}

.photos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    width: 342px;
    height: 342px;
    margin-left: 300px;

}


.quick-list {
    width: 537px;
    height: 304px;
    margin-top: 330px;
    margin-right: 150px;

}



.features__list__title {

    font-weight: 500;
    font-size: 45px;
    margin-bottom: 32px;
}

.features__description {

    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
}


/*-----------------------------------------------
                 Main section
  -----------------------------------------------*/


main {
    /* display: flex; */
    display: grid;
    grid-template-columns: 586px 300px auto;
    justify-content: space-between;
    margin-top: 350px;
    margin-right: 240px;
    margin-left: 240px;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    max-height: 1020px;

}


.line {
    width: 196px;
    height: 6px;
    border-radius: 5px;
    transform: rotate(90deg);
    background-color: var(--orange);

}

.head {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 26px;

}


.head-description {
    margin-top: 25px;
    margin-left: 58px;
    text-align: justify;
}


/* -----------------------------------------------
                Article section
-----------------------------------------------  */

.main {
    margin-left: 100px;
    margin-top: 30px;
}

.main-article {

    padding: 35px;
    text-align: justify;
}

.article-head {
    margin-bottom: 15px;
    color: var(--black);
    font-weight: 600;
    font-size: 20px;

}

.article-description {

    color: var(--gray);
    font-weight: 400;
    font-size: 16px;
}

/* -------------------------------------
                experience section
    -----------------------------------*/

.experience {
    position: relative;
    /* margin-top: 400px;
    margin-left: 30px; */
    top: 480px;
    left: 50px;
    padding: 20px;
    width: 300px;
    height: 150px;
    text-align: center;
    font-size: 23px;
    color: var(--white);
    background-color: var(--orange);
    border-radius: 5px;
}


/* -------------------------------------
                Fact section
    -----------------------------------*/

.fact {
    margin-left: 240px;
    margin-top: 150px;
}


.fact-head {

    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}


.fact-description {

    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 100px;
    width: 100%;
    max-width: 542px;

}



/* -------------------------------------
                Box section
    -----------------------------------*/

.box {
    display: flex;
    margin: 100px 290px;
    justify-content: space-between;
}


.box-style:hover {
    background-color: rgba(0, 255, 255, 0.342);
    transform: rotate(360deg) scale(1.25);
    transition: transform 1.5s cubic-bezier(.6, 1.83, 1, -1.56) .1s;
}


.box-style {
    border: 1px solid var(--orange);
    height: 240px;
    width: 240px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fact-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 47px;
    font-weight: 600;
    font-size: 17px;
    color: var(--gray);
}

.fact-img>img {

    width: 45px;
    height: 45px;
    margin-bottom: 10px;

}



/* -------------------------------------------
                 Sponsors section
-------------------------------------------*/

.sponsors {
    margin-top: 190px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sponsors-title {


    font-weight: 700;
    font-size: 45px;
    color: var(--black);
}

.sponsors-details {

    width: 542px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--gray);

}

.sponsors-container {

    margin: 55px 240px;
    display: flex;
    justify-content: space-between;
}


.sponsors-img>img {

    width: 100%;
    height: 100%;
    max-height: 50px;
    filter: grayscale(2);
}



/* -----------------------------------------
                    NEW section
    --------------------------------------------- */

.new-segment {
    display: flex;
    margin: 100px 240px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.segment-head,
.segment-details,
.subscribe {

    width: 100%;
    width: 500px;
    height: 100%;
    height: 200px;

}

.segment-head {
    background-color: rgba(255, 0, 0, 0.459);
    padding: 35px;
    border-radius: 20px;

}

#segment-head {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.segment-details {
    background-color: #ff8f0e94;
    border-radius: 20px;
    margin-left: 20px;
    padding-top: 50px;
    text-align: center;
}

.segment-details>h1 {
    margin-bottom: 20px;
}

.join {
    background-color: aquamarine;
    width: 500px;
    height: 200px;
    margin-left: 20px;
    padding: 50px 100px;
    border-radius: 20px;
}


.join-us {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}


.mail {

    border-radius: 10px;
    width: 204px;
    height: 30px;
}

.btn-join-us {

    background: #ff8f0e94;
    border-radius: 8px;
    padding: 10px;
    border-style: none;
    font-weight: 600;
    font-size: 20px;
    color: #0730b498;

}



/* ------------------------------------------
                Footer section
--------------------------------------------- */

.footer {
    margin: 130px 240px;
    width: 100%;
    max-width: 1440px;
    height: 70px;
    background-color: #ff8f0ee1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.footer-details {

    font-weight: 400;
    font-size: 20px;
    text-align: center;

}



/* ------------------------------------------
                Responsive section
--------------------------------------------- */


@media only screen and (max-width: 576px) {


    /*============ Navigation section ======== */

    nav {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: small;

    }

    nav>h1 {

        margin-bottom: 30px;
        background-color: #FF900E;
        width: 190px;
        height: 80px;
        padding: 0 5%;
        border-radius: 10px;
        font-size: 20px;
    }

    nav>ul {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

    }

    nav>ul>li {
        background-color: var(--orange);
        height: 30px;
        width: 120px;
        border-radius: 10px;
        padding: 3px 10px;
        font-size: 17px;
    }

    /* =========================================
                 Header section
============================================ */

    .header__Brand {
        margin: 50px;
        height: auto;
        width: 450px;
    }

    .title__brand {
        margin-top: 200px;
        font-size: 50px;
        font-size: 40px
    }

    /* =========================================
                 Banner section
============================================ */

    .banner-img {
        width: 100%;
        height: 100%;
    }

    #bn-img {
        display: block;
        width: 500px;
        position: relative;
        left: -263px;

    }

    /* =========================================
                 Grid section
============================================ */

    .features-container {

        display: block;

    }

    .photos-container {

        display: flex;
        flex-direction: column;
        width: 300px;
        height: 300px;
        position: relative;
        left: -177px;

    }

    .photos-container>img {

        border: 5px solid var(--orange);
        border-radius: 10px;
        box-shadow: 5px 5px 10px 2px var(--gray);

    }

    .quick-list {

        background-color: #12cbeb54;
        position: relative;
        top: 800px;
        left: 15px;
        width: 500px;
        height: 350px;
        align-items: center;
        text-align: center;
        padding: 50px;
        border-radius: 20px;

    }


    /* ===================================
            Main section
=================================== */

    main {
        display: flex;
        flex-direction: column;
        position: relative;
        left: -290px;
        top: 550px;
    }

    .experience {
        position: relative;
        top: 900px;
        left: 150px;

    }

    .main-img {
        position: relative;
        top: -50px;
        left: 30px;
        margin-bottom: 30px;
    }

    .main-img>img {
        width: 550px;
        height: 100%;
    }


    /* ---------------------------
             Fact section
------------------------------ */

    .fact {
        display: block;
        position: relative;
        top: 1600px;
        left: -130px;
        margin-bottom: 50px;
    }

    /* 
-----------------------------------
                Box section
    ----------------------------------- */

    .box {
        display: block;
        position: relative;
        top: 1600px;
        left: -180px;


    }

    .box-style:hover {
        background-color: rgba(0, 255, 255, 0.342);
        transform: rotate(360deg) scale(0.75);
        transition: transform 1.5s cubic-bezier(.6, 1.83, 1, -1.56) .1s;
    }


    .box-style {
        border: 1px solid var(--orange);
        height: 240px;
        width: 240px;
        text-align: center;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }




    /* -------------------------------------------
                 Sponsors section
-------------------------------------------*/


    .sponsors {
        margin-bottom: 30px;
        width: 400px;
        height: 400px;
        position: relative;
        top: 1300px;
        left: 70px;

    }

    .sponsors-container {

        position: relative;
        top: 1150px;
        left: -70px;
        display: block;
        width: 200px;
        

    }

    .sponsors-img>img {

        margin-bottom: 25px;

    }

    /* -----------------------------------------
                    NEW section
    --------------------------------------------- */

    .new-segment {
        display: block;
        position: relative;
        top: 1100px;
        left: -215px;
        gap: 20px;

    }


    .segment-details {
        margin-left: 0px;
        position: relative;
        top: 20px;

    }

    .join {
        margin-left: 0px;
        position: relative;
        top: 40px;
        
    }


    /* ------------------------------------------
                Footer section
--------------------------------------------- */

    .footer {

        display: block;
        position: relative;
        top: 1050px;
        left: -160px;
        width: 400px;
        height: 70px;
        padding-top: 7px;
    }


}



 /* ------------------------------------------
        ........Code Ends Here......
-------------------------------------------- */



